<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="saveNote()">
    <ion-item>
      <ion-label>
        Title
      </ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Description
      </ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        Date
      </ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-toolbar>
      <ion-button slot="start">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon slot="icon-only" src="assets/icons/image.svg"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-button type="submit" expand="full">Submit</ion-button>
  </form>
</ion-content>